Source: clickhouse
Section: database
Priority: optional
Maintainer: Jean Baptiste Favre <debian@jbfavre.org>
Build-Depends: debhelper (>= 9), cmake, gcc-6, g++-6, libboost-dev, libicu-dev,
               libreadline-dev, default-libmysqlclient-dev | libmysqlclient-dev,
               unixodbc-dev, libboost-thread-dev, libboost-program-options-dev,
               libboost-system-dev, libboost-regex-dev, libboost-filesystem-dev,
               libglib2.0-dev, libltdl-dev, libssl-dev, clang
Standards-Version: 3.9.8
Homepage: https://clickhouse.yandex/
#Vcs-Git: https://anonscm.debian.org/collab-maint/clickhouse.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/clickhouse.git

Package: clickhouse-common
Section: database
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.2-14), adduser
Description: Common files for clickhouse
 Yandex ClickHouse is an open-source column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides common files for both clickhouse server and client

Package: clickhouse-server
Section: database
Architecture: any
Pre-Depends: clickhouse-common (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.2-14), adduser
Description: Base package for clickhouse
 Yandex ClickHouse is an open-source column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides clickhouse common configuration files

Package: clickhouse-client
Section: database
Architecture: any
Pre-Depends: clickhouse-common (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Client binary for clickhouse
 Yandex ClickHouse is an open-source column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides clickhouse client binary

Package: clickhouse-utils
Section: database
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Various utilities for clickhouse analytics db
 Yandex ClickHouse is an open-source column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides:
 .
   - benchmark utility
   - configuration processor
   - compressor
